.side-bar{
  background-color: rgb(255, 255, 255);
  color: black;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  padding-top: 7px;
  z-index: 2;
}



.side-bar img{
  height: 24px;
  margin-bottom: 7px;
  padding-top: 13px;
}

.side-bar .side-bar-link{
  width: 72px;
  font-size: 10px;
  margin-bottom: 2px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.side-bar .side-bar-link:hover{
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}